@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.cornerFade {
    background: linear-gradient(to bottom left, #ffffff33, transparent 50%, transparent 50%);
    position: absolute;
    right: 0;
    top: 0;
    height: 260px;
    width: 100vw;
    z-index: -1;
    display: none;
}

.sideBlur {
    position: absolute;
    width: 160px;
    filter: blur(20px);
    height: calc(100% + 40px);
    left: -20px;
    top: -20px;
    display: none;
}

html {
    height: 100vh;
    height: 100svh;
    overflow-y: hidden;
    top: 0;
}

body {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background-color: rgb(1, 5, 28);
    overflow: hidden;
    top: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    transition: 0.4s ease;
    top: 0;
}

.openMenu {
    transform: translate(160px);
}

.home {
    width: 100%;
    height: 100vh;
    height: 100svh;
    position: relative;
    overflow: hidden;
    top: 0;
}

.bkgCont {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    position: absolute;
}

#bkg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transition: filter 0.5s ease-in-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.bkgBlur {
    filter: blur(8px);
}

.bkgDark {
    position: absolute;
    left: -10px;
    top: -10px;
    opacity: 0;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    width: 100%;
    background-color: #000;
    transition: 0.5s;
}

.bkgDarkOn {
    opacity: 0.3;
}

#bkg img {
    width: 100%;
    height: 100vh;
    height: 100svh;
    object-fit: cover;
}

.nav {
    height: clamp(90px, 13vh, 120px);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navLink {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 5px;
    transition: 0.3s ease;
    text-decoration: none;
    flex-direction: column;
    row-gap: 1px;
    cursor: pointer;
}

.navLink span {
    color: white;
    user-select: none;
}

.navLink::after {
    top: 0;
    content: "";
    width: 0%;
    background-color: #ffffffbb;
    height: 2px;
    transition: 0.3s ease;
}

.onPage::after {
    top: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffffbb;
}

.navLink:hover::after {
    width: 100%;
}

.menuButton {
    cursor: pointer;
    position: absolute;
    left: 180px;
    top: 10px;
    display: none;
    z-index: 101;
}

.onHome {
    opacity: 0;
    visibility: hidden;
}

.bar1, .bar2, .bar3 {
    width: 24px;
    height: 2px;
    background-color: #ffffffcc;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}

.logoPadd {
    padding: 15px 0 0 0;
    height: 100%;
}

.logoCont {
    position: relative;
    height: 100%;
    aspect-ratio: 189/100;
}

.logo-bkg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo-3 {
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 22%;
    width: 17%;
    height: 44%;
    top: 22%;
    animation: logo3 20s ease 5s infinite;
}

.logo-6 {
    position: absolute;
    left: 38.4%;
    width: 19%;
    height: 45%;
    top: 22%;
    animation: logo6 20s ease 5s infinite;
}

.logo-0 {
    position: absolute;
    left: 59%;
    width: 17%;
    height: 45%;
    top: 22%;
    animation: logo0 20s ease 5s infinite;
}

.logo-travel {
    position: absolute;
    left: 23%;
    width: 52%;
    height: 11%;
    top: 72%;
    animation: logoTravel 20s ease 5s infinite;
}

.logo-years {
    position: absolute;
    top: 72%;
    height: 11%;
    left: 29%;
    width: 42%;
    opacity: 0;
    animation: logoYears 20s ease 5s infinite;
}

@keyframes logo6 {
    0%, 2% {
        opacity: 1;
    }
    
    11%, 40% {
        opacity: 0;
    }

    49% {
        opacity: 1;
    }
}

@keyframes logoTravel {
    0% {
        opacity: 1;
    }
    
    10%, 40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes logoYears {
    0%, 5% {
        opacity: 0;
    }
    
    14%, 38% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }
}

@keyframes logo3 {
    0%, 5% {
        left: 22%;
    }

    10%, 38% {
        left: 31%;
    }

    44%, 100% {
        left: 22%;
    }
}

@keyframes logo0 {
    0%, 5% {
        left: 59%;
    }

    10%, 38% {
        left: 50%;
    }

    44%, 100% {
        left: 59%;
    }
}

.content {
    width: 100%;
    height: calc(100% - clamp(90px, 13vh, 120px) - clamp(80px, 12vh, 100px));
    padding: 10px 100px 0 100px;
    position: relative;
    overflow: auto;
    z-index: 100;
}

.showBlur {
    -webkit-mask-image: linear-gradient(to bottom,black 80%,transparent 100%);
    mask-image: linear-gradient(to bottom,black 80%,transparent 100%);
}

.content::-webkit-scrollbar {
    display: none;
}

.contBlock {
    opacity: 0;
    color: white;
    transition: 1s;
    /* position: absolute; */
    flex-direction: column;
    font-size: 1.1rem;
    display: none;
    width: 100%;
}

.contBlockSpan {
    margin: 14px 0;
}

.contactA {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 8px 0;
}

.contBlockSpan ul {
    margin-left: 20px;
}

.contBlockSpan a {
    color: white;
}

.notPadded {
    display: flex;
    align-items: center;
    margin: 0;
}

.contBlock span img {
    height: 75px;
}

.contBlock span img.contactImg {
    height: 16px;
    margin-top: 10px;
}

.contentVisible {
    opacity: 1;
    display: flex;
}

h1 {
    font-weight: normal;
    margin-bottom: 12px;
}

.ans {
    margin-top: 6px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: clamp(80px, 10vh, 100px);
    padding: 20px 30px;
    z-index: 2;
}

.footerText {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #ffffff55;
    font-size: 0.8rem;
}

.footerLinks {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
}

.footerLink {
    height: 100%;
}

.footerLink img {
    height: 100%;
    opacity: 0.5;
}

.homeLinks {
    width: auto;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: absolute;
    left: 185px;
    top: 20px;
    row-gap: 20px;
    z-index: 101;
    transition: 0.4s;
}

.homeLink {
    color: white;
    text-decoration: none;
    text-align: center;
}

.hideHome {
    opacity: 0;
    display: none;
    z-index: -1;
}

@media only screen and (max-width: 1000px) {

    .cornerFade {
        display: block;
    }
    
    .homeLinks {
        display: flex;
    }

    body {
        position: absolute;
        left: -160px;
        width: calc(100vw + 160px);
    }

    .bkgCont {
        width: calc(100vw + 160px);
    }

    .home {
        width: calc(100% + 160px);
        
    }
    .nav {
        padding: 20px;
        height: 100%;
        position: absolute;
        row-gap: 30px;
        width: 100%;
    }

    .navLinks {
        flex-direction: column;
        row-gap: 30px;
        align-items: baseline;
    }

    .navLink::before {
        background-color: #00000000;
    }

    .logoPadd {
        width: clamp(120px, 30vw, 200px);
    }

    .logoCont {
        width: 100%;
        height: auto;
    }

    .navLink {
        height: auto;
    }

    .menuButton {
        display: inline-block;
    }

    .content {
        left: 160px;
        top: 60px;
        width: calc(100% - 160px);
        height: calc(100% - clamp(80px, 12vh, 100px) - 60px);
        padding: 0 50px;
    }

    .logoPadd {
        padding: 0;
    }

    .sideBlur {
        display: block;
    }

    .footer {
        width: calc(100% - 160px);
        right: 0;
    }

    #bkg {
        transform: translate(0, -50%);
        left: 160px;
    }

    #bkg img {
        height: 100vh;
        height: 100svh;
        position: absolute;
        left: 0;
        width: auto;
        min-width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .content {
        top: 70px;
    }

    .footerLinks {
        column-gap: clamp(14px, 2vw, 26px);
    }

    .footer {
        height: clamp(80px, 10vh, 90px);
        /* bottom: 10px; */
    }

    .footerText {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .footerLinks {
        justify-content: space-between;
    }
}